turningWithFiducial: True
junctionTurning_fiducial_detected_list_size: 80
junctionTurning_fiducial_detection_thresh: 4

# PID parameters for yaw control
yaw_p: 0.05
yaw_i: 0.0005
yaw_d: 0.001
yaw_i_log_len: 6
yaw_pid_thresh: 0.4

# PID parameters for control towards setpoint in xy plane
xy_p: 0.065
xy_i: 0.0
xy_d: 0.07
xy_i_log_len: 6
pitch_pid_thresh: 0.4
roll_pid_thresh: 0.4

#####################################
##### Junction calibration info #####
#####################################

# A280
# High voltage
# pad_ids = [0] # marker id list [0,3,4]
# pad_turn_dir = [False] # direction to turn True:Right, False:Left [True, False, True]
# yaw_values = [.99]
# pad_dist_det = [8.0]
# pad_dist_turn = [3.0] # dist to turn from marker [1.5,2.0,1.0]

# RBCCPS
# junc_calibration: {0: 
#   { 'anchor_ids': [0,1,2], 'nav_dir_ref':  }
# }

junc_ids: [0, 1] # IDs to characterize each junction
anchor_ids: [[0,1,2], [3,4,5]] # First anchor is at (0,0), second at (x,0), third at (0,y)
nav_dir_ref: [[[2, 3], [6, 3], [0, 0]], [[0, 0], [0, 0]]] # Reference points to figure the path of arrival at a junction
anchor_conf_side: [[3.0,3.0], [6.0, 3.0]] # [x,y] values for each triplet of anchors
junc_dist_thresh: [[1.0, 1.0, 1.0], [1.0, 1.0]] # Start UWB based motion once close enough to first waypoint
junc_waypoints: [[[[2, 3], [2, 2], [2, 1], [1, 1], [1, 0]], [[6, 3], [4, 3], [2, 3], [0, 3]], [0, 0]], [[0, 0], [0, 0]]] # Set of waypoints to follow once a reference point is reached, last is the cenre of the junciton
diff_dirn_ref_yaw: [[-0.62, 0.72, -1.1], [-1.1, -1.1]] # The yaw value to set PID controller upon while arriving from different paths at a junction
junc_turning_angles: [[0.72, -0.62, -1.1], [-1.1, -1.1]] # Final yaw value to achieve while arriving from different approaches at junction
junc_calib_angles: [-0.62, -1.1] # Angle of line between (0,0) anchor and (x,0), and magnetic north as seen from Bebop's magnetometer

